@media screen and (max-width: 479px) {
    .card {
      width: 100%;
      padding: 10px;
      bottom: 0;
      margin: auto;
      z-index: 20;
      height: 240px;
    }
  
    .book {
      width: calc(100vw - 40px);
      padding-left: 20px;
      padding-right: 20px;
      position: relative;
    }
  
    .content {
      padding-left: 0%;
    }
  
    h1 {
      letter-spacing: -6px;
      font-size: 100px;
      pointer-events: none;
      user-select: none;

    }
  
    .body {
      font-size: 16px;
    }
  
    .places {
      width: calc(100vw - 40px);
      padding-left: 20px;
      padding-right: 20px;
      position: relative;
    }

    .events_text {
      width: 100%;
      z-index: 10;
    }
  
    .events {
      width: 100vw;
      
    }
  
    .shows {
      width: calc(100vw - 40px);
      padding-left: 20px;
      padding-right: 20px;
      position: relative;
    }
    .nav {
      flex-flow: row;
      width: 90%;
      height: auto;
      margin: 20px;
      position: absolute;
      bottom: 40px;
      z-index: 20;
    }
  
    .item {
      width: auto;
      padding: 4px 20px;
    }
  
    .cupture {
      width: 50px;
    }
  
    .tab_selection {
      flex-flow: row;
      overflow: scroll;
    }
}